// Product Colors
$c_stratum: #426788;
$c_account: #242F36;
$c_redpoint: #D93939;
$c_baas: #5046BA;
$c_catalyze: #1055ff;

// Gray Scale
$c_gray-0: #FFFFFF;
$c_gray-1: #D6DBE8;
$c_gray-2: #BFC8DC;
$c_gray-3: #8292BA;
$c_gray-4: #404D6F;

// Tools
$c_border: lighten($c_gray-1, 5%);
